.appBg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: url('../images/img.png') no-repeat center center fixed;
    background-size: cover;
  }
  
  .header {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
  }
  
  .blur-text {
    font-size: 64px; 
    font-weight: bold;
    color: rgba(255, 255, 255, 0.8); 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  .signupForm {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    box-shadow: 0px 8px 32px 0 rgba(0, 0, 255, 0.33);
    padding: 24px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
  }
  
  .title {
    text-align: center;
    margin-bottom: 24px;
    color: white; 
  }
  